@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

/* Global */
* {
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
}

:root {
    --accent-1: #1992D4;
    --accent-2: #F0B429;
    --background-1: #FFFFFF;
    --background-2: #E2E8F0;
    --font-1: #FFFFFF;
    --font-2: #000000;
    --font-3: #6D6D6D;

    --icon-size: 2rem;
}

body {
    display: flex;
    background-color: var(--background-2);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

hr {
    background-color: var(--background-2);
    border: 0.1rem solid var(--background-2);
}

a {
    text-decoration: none;
    color: inherit;
}
/* Components */
.icon {
    height: var(--icon-size);
}

.profile-picture {
    border-radius: 100%;
    height: 4rem;
    width: 4rem;
    overflow: hidden;
}

.profile-picture img {
    height: 8rem;
}

.section__title {
    font-size: 1.3rem;
    font-weight: 600;
}

.card {
    background-color: var(--background-1);
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 1rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.section__wrapper {
    margin: 1rem;
}

/*
============
WRAPPER LEFT
============
*/

/* Sidebar */
#wrapper_left {
    display: flex;
    flex-direction: column;

    background-color: var(--accent-1);
    color: var(--font-1);
    padding: 0.5rem;
    padding-right: 4rem;
    font-weight: 400;
    font-size: 1.1rem;

}
.sidebar__sect {
    margin-top: 2rem;
}

#logo__container {
    font-size: 1.5rem;
    font-weight: 700;
}
#logo__container:hover {
    transform: scale(1);
}
#logo__img {
    height: 3rem;
}
.option__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem;
    transition: transform 0.1s;
}
.option__container:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.option__img {
    padding-right: 1rem;
}

/*
=============
WRAPPER RIGHT
=============
*/
#wrapper__right {
    position: relative;
}

/* = HEADER =*/
/* Navbar */
#header__container {
    background: var(--background-1);
    padding-left: 2rem;
    padding-right: 2rem;
}
#navbar__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
}
#navbar__container > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#searchbar__input {
    width: 50rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    margin-left: 1rem;
    padding-left: 1rem;
    border: none;
    background-color: var(--background-2);
}

#notification__icon {
    height: 2rem;
}
#navbar__container:nth-child(1) {
    font-weight: 700;
    font-size: 1.5rem;
}
#navbar__pfp {
    position: relative;
    margin-left: 1rem;
    margin-right: 1rem;
    overflow: hidden;
}
#navbar__pfp > img{
    position: absolute;
    top: -2rem
}

/* Status bar */
#status__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}
#profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

#name__user {
    font-size: 2rem;
}
#status__pfp {
   position: relative;
   height: 6rem;
   width: 6rem;
   margin-right: 1rem;
}
#status__pfp > img{
    position: absolute;
    top: -3rem;
    height: 12rem;
}

.action__btn {
    background-color: var(--accent-1);
    padding: 0.8rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 1rem;
    border: none;
    border-radius: 2rem;
    color: var(--font-1);
    font-size: 1.2rem;
    font-weight: 500;
}

/* Main */
#main__container {
    display: flex;
    flex-direction: row;
    background-color: var(--background-2);
    padding: 1rem;
}

/* Projects */
#projects__wrapper {
    width: 75%;
}
#projects__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.project__card {
    position: relative;
    border-left: 0.5rem solid var(--accent-2);
    height: 15rem;
    margin-right: 2rem;
    padding: 2rem;

    transition: transform 0.1s;
}
.project__card:hover {
    transform: scale(1.02);
    cursor: pointer;
}
.project__title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.project__desc {
    width: 80%;
    color: var(--font-3);
}
.project__actions {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.5rem;
}

.project__action {
    height: 1.5rem;
    margin-left: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;

    transition: all 0.1s;
}
.project__action:hover {
    transform: scale(1.1);
    background-color: var(--background-2);
}
/* Right panel */
#right-panel__container {
    width: 25%;
}

/* Announcements */
#announcements__container {
    padding: 1.5rem;
}
.announcement__card {
    margin: 1rem;
}
.announcement__title {
    margin-bottom: 0.3rem;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--font-2)
}
.announcement__desc {
    color: var(--font-3);
    width: 90%;
}

/* Trending */
.trending__card {
    display: flex;
    align-items: center;
    margin: 1rem;
}
.trending__text {
    margin-left: 1rem;
}
.trending__title {
    font-size: 1.1rem;
    font-weight: 500;
}
.trending__desc {
    color: var(--font-3)
}

/* Profile pictures */
#pfp-1 {
    position: relative;;
}
#pfp-1 > img {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    height: 5rem;
}
#pfp-2 {
    position: relative;;
}
#pfp-2 > img {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
}
#pfp-4 {
    position: relative;;
}
#pfp-4 > img {
    position: absolute;
    top: -2rem;
    left: -2rem;
    height: 6rem;
}
#pfp-5 {
    position: relative;;
}
#pfp-5 > img {
    position: absolute;
    top: -1rem;
    left: -0.8rem;
}