@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;500;600;700&display=swap');

/* Global */
* {
    padding: 0;
    margin: 0;
    font-family: 'Radio Canada', sans-serif;
}

:root {
    --accent-1: #1992D4;
    --accent-2: #F0B429;
    --background-1: #FFFFFF;
    --background-2: #E2E8F0;
    --font-1: #FFFFFF;
    --font-2: #000000;
    --font-3: #6D6D6D;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

/* Sidebar */
#wrapper_left {
    display: flex;
    flex-direction: column;

    background-color: var(--accent-1);
    color: var(--font-1);
    padding: 0.5rem;
    padding-right: 4rem;
    font-weight: 400;
    font-size: 1.1rem;
}
#logo__container {
    font-size: 1.5rem;
    font-weight: 700;
}
#logo__img {
    height: 3rem;
}
.option__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 1rem;
}
.option__img {
    height: 2rem;
    padding-right: 1rem;
}
.sidebar__sect {
    margin-top: 2rem;
}

/* Header */
#header__container {
    background: var(--background-1);
}

/* Main */
#main__container {
    background-color: var(--background-2);
}

/* Projects */

/* Announcements */

/* Trending */